<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <style type="text/css">
        table, td, th {
            border: 1px solid gray;
        }
        table {
            border-collapse: collapse;
            margin: 50px;
        }
        th {
            padding: 5px;
        }
        td {
            padding: 5px;
        }
    </style>
    <script lang="JavaScript">
        seriesOpt = [];
        data = [];
        names = {};

        function get_full_number(n){
            if (String(n).length > 1) {
                return n;
            } else {
                return '0'+n;
            }
        }

        function get_table_content(table, response) {
            if (response.hasOwnProperty('names')) {
                i = 0;
                names = response['names'];
                row = document.createElement('tr');
                row.appendChild(document.createElement('th'));
                row.cells[i].appendChild(document.createTextNode('Time'));
                for (var id in names) {
                    if (names.hasOwnProperty(id)) {
                        row.appendChild(document.createElement('th'));
                        row.cells[i+1].appendChild(document.createTextNode('BTC '+names[id]));
                        row.appendChild(document.createElement('th'));
                        row.cells[i+2].appendChild(document.createTextNode('Delta '+names[id]+', %'));
                        row.appendChild(document.createElement('th'));
                        row.cells[i+3].appendChild(document.createTextNode('Delta '+names[id]+', btc'));
                        i += 3;
                    }
                }
                if (i > 3) {
                    row.appendChild(document.createElement('th'));
                    row.cells[i+1].appendChild(document.createTextNode('Summary BTC'));
                    row.appendChild(document.createElement('th'));
                    row.cells[i+2].appendChild(document.createTextNode('Summary delta'));
                }
                table.appendChild(row);
            }

            if (response.hasOwnProperty('data')) {
                data = response['data'];
                // for every row
                for (var i = data.length-1; i >= 0; i--) {
                    j = 0;
                    btc_sum = 0;
                    delta_sum = 0;
                    row = document.createElement('tr');
                    row.appendChild(document.createElement('td'));
                    date = new Date(data[i]['balance_datetime']);
                    date_field = get_full_number(date.getDate())+'.'+get_full_number(date.getMonth()+1)+'.'+date.getFullYear()+' '+get_full_number(date.getHours())+':'+get_full_number(date.getMinutes());
                    row.cells[j].appendChild(document.createTextNode(date_field));
                    for (var id in names) {
                        if (names.hasOwnProperty(id)) {
                            row.appendChild(document.createElement('td'));
                            row.cells[j+1].appendChild(document.createTextNode(data[i]['btc_'+id].toFixed(7)));
                            row.appendChild(document.createElement('td'));
                            row.cells[j+2].appendChild(document.createTextNode(data[i]['percent_'+id].toFixed(4)));
                            row.appendChild(document.createElement('td'));
                            row.cells[j+3].appendChild(document.createTextNode(data[i]['delta_'+id].toFixed(7)));

                            btc_sum += data[i]['btc_'+id];
                            delta_sum += data[i]['delta_'+id];
                            j += 3;
                        }
                    }
                    if (j > 3) {
                        row.appendChild(document.createElement('td'));
                        row.cells[j+1].appendChild(document.createTextNode(btc_sum.toFixed(7)));
                        row.appendChild(document.createElement('td'));
                        row.cells[j+2].appendChild(document.createTextNode(delta_sum.toFixed(7)));
                    }
                    table.appendChild(row);
                }
            }
            return table;
        }

        $.getJSON('/btc', function (data) {

            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    seriesOpt.push({
                        name: key,
                        data: data[key]
                    })
                }
            }
            // Create the chart
            Highcharts.stockChart('container', {

                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: 'Estimated BTC'
                },

                tooltip: {
                    valueDecimals: 7,
                    split: true
                },
                series: seriesOpt
            });
        });


        $.getJSON('/hours', function (response) {
            var table = document.createElement('table');
            table.style.cssFloat = 'left';
            caption = table.createCaption();
            caption.innerHTML = '<b>Hours stat</b>';
            caption.style.padding = '5px';
            table = get_table_content(table, response);
            document.body.appendChild(table);
         });


        $.getJSON('/days', function (response) {
            var table2 = document.createElement('table');
            caption2 = table2.createCaption();
            caption2.innerHTML = '<b>Days stat</b>';
            caption2.style.padding = '5px';
            table2 = get_table_content(table2, response);
            document.body.appendChild(table2);
         });
    </script>
</head>
<body>
    <h3>Statistic</h3>

    <div id="container" style="height: 400px; min-width: 310px"></div>

</body>
</html>